USE [master]
GO
/****** Object:  Database [ConexionUsuarios]    Script Date: 17-08-2018 0:02:53 ******/
CREATE DATABASE [ConexionUsuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConexionUsuarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ConexionUsuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConexionUsuarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ConexionUsuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConexionUsuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConexionUsuarios]
GO
USE [ConexionUsuarios]
GO
/****** Object:  Table [dbo].[LoginPanel]    Script Date: 17-08-2018 0:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginPanel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoginPanel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginPanel] ON 
GO
INSERT [dbo].[LoginPanel] ([ID], [Username], [Password]) VALUES (1, N'lucianomacheo', N'1234')
GO
INSERT [dbo].[LoginPanel] ([ID], [Username], [Password]) VALUES (2, N'elizabethhermosillac', N'12345')
GO
INSERT [dbo].[LoginPanel] ([ID], [Username], [Password]) VALUES (3, N'mariacatril', N'3384')
GO
SET IDENTITY_INSERT [dbo].[LoginPanel] OFF
GO
USE [master]
GO
